body{
    background-color: rgb(157,186,220);
    margin: 0;
    border: 0;
}
:root{
    --bkg-clr: rgb(157,186,220);
    --light-bgk-clr: rgb(216,228,239);
}
@media screen and (max-width: 1250px){
    html{
        font-size: 12px;
    }
}
@media screen and (min-width: 1251px){
    html{
        font-size: 16px;
    }
}
